{"openapi":"3.0.1","info":{"title":"BringAm Vendor Service API","description":"The vendor service handles store, product and offer management features","contact":{"name":"Johnny Olugbodi","url":"","email":"olugbodijohnny@live.com"},"license":{"name":"Apache 2.0","url":"https://www.apache.org/licenses/LICENSE-2.0"},"version":"v0.0.1"},"externalDocs":{"description":"SpringShop Wiki Documentation","url":"https://springshop.wiki.github.org/docs"},"servers":[{"url":"https://sandbox.bringamt.com/vendor-service","description":"Server URL in staging environment"}],"paths":{"/api/v1/stores/{storeUuid}":{"put":{"tags":["stores-controller"],"operationId":"updateStore","parameters":[{"name":"storeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreDto"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/APIResponseString"},{"$ref":"#/components/schemas/APIResponseObject"}]}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"417":{"description":"Expectation Failed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseStoreDto"}}}}},"security":[{"bearer-key":[]}]}},"/api/v1/store-products/add-product-to-store":{"put":{"tags":["store-product-controller"],"operationId":"addProductToStore","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddProductToStoreReq"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/APIResponseString"},{"$ref":"#/components/schemas/APIResponseObject"}]}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"417":{"description":"Expectation Failed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}}},"security":[{"bearer-key":[]}]}},"/api/v1/products/edit-product/{uuid}":{"put":{"tags":["product-controller"],"operationId":"editProduct","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditProductReq"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/APIResponseString"},{"$ref":"#/components/schemas/APIResponseObject"}]}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"417":{"description":"Expectation Failed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}}},"security":[{"bearer-key":[]}]}},"/api/v1/stores":{"get":{"tags":["stores-controller"],"operationId":"getStoresByVendorUuid","parameters":[{"name":"vendorUuid","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/APIResponseString"},{"$ref":"#/components/schemas/APIResponseObject"}]}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"417":{"description":"Expectation Failed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseListStoreDto"}}}}},"security":[{"bearer-key":[]}]},"post":{"tags":["stores-controller"],"operationId":"createStore","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreDto"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/APIResponseString"},{"$ref":"#/components/schemas/APIResponseObject"}]}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"417":{"description":"Expectation Failed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseStoreDto"}}}}},"security":[{"bearer-key":[]}]}},"/api/v1/stores/users":{"post":{"tags":["store-user-controller"],"operationId":"assignUserToStore","parameters":[{"name":"storeUuid","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/APIResponseString"},{"$ref":"#/components/schemas/APIResponseObject"}]}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"417":{"description":"Expectation Failed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}}},"security":[{"bearer-key":[]}]}},"/api/v1/registration/become-a-vendor":{"post":{"tags":["registration-controller"],"operationId":"becomeAVendor","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorRegistrationReq"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/APIResponseString"},{"$ref":"#/components/schemas/APIResponseObject"}]}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"417":{"description":"Expectation Failed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}}},"security":[{"bearer-key":[]}]}},"/api/v1/products/create-product":{"post":{"tags":["product-controller"],"operationId":"createProduct","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateProductReq"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/APIResponseString"},{"$ref":"#/components/schemas/APIResponseObject"}]}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"417":{"description":"Expectation Failed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}}},"security":[{"bearer-key":[]}]}},"/api/v1/otp/verify-otp-at-signup/{otp}":{"post":{"tags":["otp-controller"],"operationId":"verifyOtpAtSignUp","parameters":[{"name":"otp","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/APIResponseString"},{"$ref":"#/components/schemas/APIResponseObject"}]}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"417":{"description":"Expectation Failed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseUserTypeData"}}}}}}},"/api/v1/otp/resend-otp-at-signup/{uuid}":{"post":{"tags":["otp-controller"],"operationId":"resendOtpAtSignUp","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/APIResponseString"},{"$ref":"#/components/schemas/APIResponseObject"}]}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"417":{"description":"Expectation Failed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}}}}},"/api/v1/offers/create-offer":{"post":{"tags":["offer-controller"],"operationId":"createOffer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOfferReq"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/APIResponseString"},{"$ref":"#/components/schemas/APIResponseObject"}]}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"417":{"description":"Expectation Failed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}}},"security":[{"bearer-key":[]}]}},"/api/v1/vendor-dashboard":{"get":{"tags":["vendor-dashboard-controller"],"operationId":"getProductDashboard","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/APIResponseString"},{"$ref":"#/components/schemas/APIResponseObject"}]}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"417":{"description":"Expectation Failed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseVendorDashBoardResp"}}}}},"security":[{"bearer-key":[]}]}},"/api/v1/stores/{uuid}":{"get":{"tags":["stores-controller"],"operationId":"getStoreByUuid","parameters":[{"name":"page-no","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"page-size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"sort-by","in":"query","required":false,"schema":{"type":"string","default":"id"}},{"name":"sort-dir","in":"query","required":false,"schema":{"type":"string","default":"desc"}},{"name":"start-date","in":"query","required":false,"schema":{"type":"string","default":"1980-01-01T00:00:00"}},{"name":"end-date","in":"query","required":false,"schema":{"type":"string","default":"3000-01-01T00:00:00"}},{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/APIResponseString"},{"$ref":"#/components/schemas/APIResponseObject"}]}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"417":{"description":"Expectation Failed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseStoreDto"}}}}},"security":[{"bearer-key":[]}]}},"/api/v1/store-products":{"get":{"tags":["store-product-controller"],"operationId":"getStoreProductPageResponse","parameters":[{"name":"pageNo","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string","default":"id"}},{"name":"sortDir","in":"query","required":false,"schema":{"type":"string","default":"desc"}},{"name":"startDate","in":"query","required":false,"schema":{"type":"string","default":"1980-01-01T00:00:00"}},{"name":"endDate","in":"query","required":false,"schema":{"type":"string","default":"3000-01-01T00:00:00"}},{"name":"filterBy","in":"query","required":false,"schema":{"type":"string","default":"NONE"}},{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/APIResponseString"},{"$ref":"#/components/schemas/APIResponseObject"}]}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"417":{"description":"Expectation Failed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseProductPageResp"}}}}},"security":[{"bearer-key":[]}]}},"/api/v1/store-products/get-one":{"get":{"tags":["store-product-controller"],"operationId":"getSingleStoreProduct","parameters":[{"name":"uuid","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/APIResponseString"},{"$ref":"#/components/schemas/APIResponseObject"}]}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"417":{"description":"Expectation Failed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseStoreProductResp"}}}}},"security":[{"bearer-key":[]}]}},"/api/v1/store-products/get-all-by-store":{"get":{"tags":["store-product-controller"],"operationId":"getStoreProductsByStore","parameters":[{"name":"storeUuid","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"pageNo","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":50}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/APIResponseString"},{"$ref":"#/components/schemas/APIResponseObject"}]}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"417":{"description":"Expectation Failed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponsePageStoreProductResp"}}}}},"security":[{"bearer-key":[]}]}},"/api/v1/products":{"get":{"tags":["product-controller"],"operationId":"getAllProducts","parameters":[{"name":"pageNo","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string","default":"id"}},{"name":"sortDir","in":"query","required":false,"schema":{"type":"string","default":"desc"}},{"name":"startDate","in":"query","required":false,"schema":{"type":"string","default":"1980-01-01T00:00:00"}},{"name":"endDate","in":"query","required":false,"schema":{"type":"string","default":"3000-01-01T00:00:00"}},{"name":"filterBy","in":"query","required":false,"schema":{"type":"string","default":"NONE"}},{"name":"searchString","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/APIResponseString"},{"$ref":"#/components/schemas/APIResponseObject"}]}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"417":{"description":"Expectation Failed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseProductPageResp"}}}}},"security":[{"bearer-key":[]}]}},"/api/v1/products/get-product-details/{uuid}":{"get":{"tags":["product-controller"],"operationId":"getProductDetails","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/APIResponseString"},{"$ref":"#/components/schemas/APIResponseObject"}]}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"417":{"description":"Expectation Failed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseStoreProductResp"}}}}},"security":[{"bearer-key":[]}]}},"/api/v1/products/delete-product-details/{uuid}":{"get":{"tags":["product-controller"],"operationId":"deleteProduct","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/APIResponseString"},{"$ref":"#/components/schemas/APIResponseObject"}]}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"417":{"description":"Expectation Failed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}}},"security":[{"bearer-key":[]}]}},"/api/v1/ping":{"get":{"tags":["app-controller"],"operationId":"ping","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/APIResponseString"},{"$ref":"#/components/schemas/APIResponseObject"}]}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"417":{"description":"Expectation Failed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}}}}},"/api/v1/ping-with-token":{"get":{"tags":["app-controller"],"operationId":"pingWithToken","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/APIResponseString"},{"$ref":"#/components/schemas/APIResponseObject"}]}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"417":{"description":"Expectation Failed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}}},"security":[{"bearer-key":[]}]}},"/api/v1/offers/get-product-names":{"get":{"tags":["offer-controller"],"operationId":"getProductNames","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/APIResponseString"},{"$ref":"#/components/schemas/APIResponseObject"}]}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"417":{"description":"Expectation Failed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseListProductNameResp"}}}}},"security":[{"bearer-key":[]}]}},"/api/v1/offers/get-offer-details/{uuid}":{"get":{"tags":["offer-controller"],"operationId":"getOfferDetails","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/APIResponseString"},{"$ref":"#/components/schemas/APIResponseObject"}]}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"417":{"description":"Expectation Failed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseOfferDetailsResp"}}}}},"security":[{"bearer-key":[]}]}},"/api/v1/ci-cd/get-current-build-details":{"get":{"tags":["cicd-controller-vendor"],"operationId":"getCurrentBuildDetails","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/APIResponseString"},{"$ref":"#/components/schemas/APIResponseObject"}]}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"417":{"description":"Expectation Failed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}}}}},"/api/v1/stores/deactivate-store/{uuid}":{"delete":{"tags":["stores-controller"],"operationId":"deactivateStore","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/APIResponseString"},{"$ref":"#/components/schemas/APIResponseObject"}]}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"417":{"description":"Expectation Failed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/APIResponseString"}}}}},"security":[{"bearer-key":[]}]}}},"components":{"schemas":{"APIResponseObject":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"object"}}},"APIResponseString":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"string"}}},"AddressReq":{"type":"object","properties":{"uuid":{"type":"string","format":"uuid"},"entityUuid":{"type":"string","format":"uuid"},"city":{"type":"integer","format":"int64"},"country":{"type":"integer","format":"int64"},"landmark":{"type":"string"},"lga":{"type":"string"},"state":{"type":"integer","format":"int64"},"street":{"type":"string"},"longitude":{"type":"number","format":"double"},"latitude":{"type":"number","format":"double"}}},"PageStoreProductResp":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"first":{"type":"boolean"},"last":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/StoreProductResp"}},"number":{"type":"integer","format":"int32"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"paged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"unpaged":{"type":"boolean"}}},"ReviewResp":{"type":"object","properties":{"uuid":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["ACTIVE","INACTIVE","UNVERIFIED","SUSPENDED","ON_HOLD","EXPIRED","PENDING","DELIVERED"]},"summary":{"type":"string"},"comment":{"type":"string"},"rating":{"type":"number","format":"double"}}},"SortObject":{"type":"object","properties":{"direction":{"type":"string"},"nullHandling":{"type":"string"},"ascending":{"type":"boolean"},"property":{"type":"string"},"ignoreCase":{"type":"boolean"}}},"StoreDto":{"type":"object","properties":{"status":{"type":"string","enum":["ACTIVE","INACTIVE","UNVERIFIED","SUSPENDED","ON_HOLD","EXPIRED","PENDING","DELIVERED"]},"uuid":{"type":"string","format":"uuid"},"vendorUuid":{"type":"string","format":"uuid"},"name":{"type":"string"},"description":{"type":"string"},"phoneNumber":{"type":"string"},"email":{"type":"string"},"website":{"type":"string"},"address":{"$ref":"#/components/schemas/AddressReq"},"addressUuid":{"type":"string","format":"uuid"},"profilePhotoUrl":{"type":"string"},"coverPhotoUrl":{"type":"string"},"active":{"type":"boolean"},"products":{"$ref":"#/components/schemas/PageStoreProductResp"}}},"StoreProductResp":{"type":"object","properties":{"productId":{"type":"integer","format":"int64"},"productUuid":{"type":"string","format":"uuid"},"productName":{"type":"string"},"storeId":{"type":"integer","format":"int64"},"vendorUuid":{"type":"string","format":"uuid"},"vendor":{"$ref":"#/components/schemas/VendorResp"},"noInStock":{"type":"integer","format":"int32"},"price":{"type":"number","format":"double"},"availability":{"type":"string","enum":["IN_STOCK","OUT_OF_STOCK"]},"productCode":{"type":"string"},"productImages":{"uniqueItems":true,"type":"array","items":{"type":"string"}},"reviews":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/ReviewResp"}},"addedToWishlist":{"type":"boolean"}}},"VendorResp":{"type":"object","properties":{"uuid":{"type":"string","format":"uuid"},"businessName":{"type":"string"}}},"APIResponseStoreDto":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/StoreDto"}}},"AddProductToStoreReq":{"required":["price","productUuid","quantity","storeUuid"],"type":"object","properties":{"productUuid":{"type":"string","format":"uuid"},"storeUuid":{"type":"string","format":"uuid"},"quantity":{"minimum":1,"type":"integer","format":"int64"},"price":{"minimum":100,"type":"number"}}},"EditProductReq":{"type":"object","properties":{"productName":{"type":"string"},"productDescription":{"type":"string"},"productImage":{"type":"string"},"productBrand":{"type":"string"},"productSize":{"type":"string"},"productMaterial":{"type":"string"},"productWeightPerUnit":{"type":"string"},"productSoldInPacks":{"type":"boolean"},"productUnitsPerPack":{"type":"integer","format":"int32"},"productWeightPerPack":{"type":"string"},"productLength":{"type":"string"},"productWidth":{"type":"string"},"productHeight":{"type":"string"}}},"VendorRegistrationReq":{"required":["businessName","categories","confirmPassword","email","firstName","idBase64","lastName","password","phoneNumber"],"type":"object","properties":{"firstName":{"pattern":"^[a-zA-Z-]+$","type":"string"},"lastName":{"pattern":"^[a-zA-Z-]+$","type":"string"},"email":{"type":"string"},"businessName":{"type":"string"},"categories":{"uniqueItems":true,"type":"array","items":{"type":"string"}},"idBase64":{"type":"string"},"phoneNumber":{"type":"string"},"password":{"type":"string"},"confirmPassword":{"type":"string"},"registrationChannel":{"type":"string","enum":["WEB","MOBILE","UNKNOWN"]}}},"CreateProductReq":{"required":["productBrand","productDescription","productHeight","productImage","productLength","productMaterial","productName","productSize","productWidth"],"type":"object","properties":{"productName":{"type":"string"},"productDescription":{"type":"string"},"productCategory":{"type":"string","format":"uuid"},"productImage":{"type":"string"},"productBrand":{"type":"string"},"productSize":{"type":"string"},"productMaterial":{"type":"string"},"productWeightPerUnit":{"type":"string"},"productSoldInPacks":{"type":"boolean"},"productUnitsPerPack":{"type":"integer","format":"int32"},"productWeightPerPack":{"type":"string"},"productLength":{"type":"string"},"productWidth":{"type":"string"},"productHeight":{"type":"string"},"productImages":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}},"APIResponseUserTypeData":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/UserTypeData"}}},"UserTypeData":{"type":"object","properties":{"userType":{"uniqueItems":true,"type":"array","items":{"type":"string"}},"userName":{"type":"string"},"userFullName":{"type":"string"},"uuid":{"type":"string"}}},"CreateOfferReq":{"required":["discountedPrice","offerDescription","offerEndDate","offerImageBase64","offerName","offerPrice","offerStartDate","products","storeUuid"],"type":"object","properties":{"products":{"type":"array","items":{"type":"string","format":"uuid"}},"storeUuid":{"type":"string","format":"uuid"},"offerName":{"type":"string"},"offerDescription":{"type":"string"},"offerPrice":{"type":"number"},"discountedPrice":{"type":"number"},"discountPercentage":{"type":"number","format":"double"},"offerStartDate":{"type":"string","format":"date"},"offerEndDate":{"type":"string","format":"date"},"totalInStock":{"type":"integer","format":"int64"},"offerImageBase64":{"type":"string"}}},"APIResponseVendorDashBoardResp":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/VendorDashBoardResp"}}},"BestPerformingProduct":{"type":"object","properties":{"productName":{"type":"string"},"price":{"type":"number","format":"double"},"unitsSold":{"type":"integer","format":"int64"}}},"OrderResp":{"type":"object","properties":{"uuid":{"type":"string","format":"uuid"},"id":{"type":"integer","format":"int64"},"createdAt":{"type":"string","format":"date-time"},"amount":{"type":"number"},"noOfItems":{"type":"integer","format":"int64"},"status":{"type":"string","enum":["ACTIVE","INACTIVE","UNVERIFIED","SUSPENDED","ON_HOLD","EXPIRED","PENDING","DELIVERED"]}}},"VendorDashBoardResp":{"type":"object","properties":{"name":{"type":"string"},"averageRevenue":{"type":"number"},"storeVisits":{"type":"integer","format":"int64"},"orders":{"type":"integer","format":"int64"},"productViews":{"type":"integer","format":"int64"},"activeCustomers":{"type":"integer","format":"int64"},"customers":{"type":"integer","format":"int64"},"bestPerformingProducts":{"type":"array","items":{"$ref":"#/components/schemas/BestPerformingProduct"}},"recentOrders":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/OrderResp"}}}},"APIResponseListStoreDto":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/StoreDto"}}}},"APIResponseProductPageResp":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ProductPageResp"}}},"PageProductResp":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"first":{"type":"boolean"},"last":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/ProductResp"}},"number":{"type":"integer","format":"int32"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"empty":{"type":"boolean"}}},"ProductPageResp":{"type":"object","properties":{"salesOverview":{"type":"number"},"productsInStock":{"type":"integer","format":"int64"},"activeProducts":{"type":"integer","format":"int64"},"productViews":{"type":"integer","format":"int64"},"totalProductsSold":{"type":"integer","format":"int64"},"storeProducts":{"$ref":"#/components/schemas/PageStoreProductResp"},"products":{"$ref":"#/components/schemas/PageProductResp"}}},"ProductResp":{"type":"object","properties":{"productId":{"type":"integer","format":"int64"},"uuid":{"type":"string","format":"uuid"},"productName":{"type":"string"},"vendorUuid":{"type":"string","format":"uuid"},"price":{"type":"number"},"availability":{"type":"string","enum":["IN_STOCK","OUT_OF_STOCK"]},"quantityInStock":{"type":"integer","format":"int64"},"productImageUrl":{"type":"string"},"productImages":{"uniqueItems":true,"type":"array","items":{"type":"string"}},"productCode":{"type":"string"}}},"APIResponseStoreProductResp":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/StoreProductResp"}}},"APIResponsePageStoreProductResp":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageStoreProductResp"}}},"APIResponseListProductNameResp":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/ProductNameResp"}}}},"ProductNameResp":{"type":"object","properties":{"productName":{"type":"string"},"uuid":{"type":"string","format":"uuid"}}},"APIResponseOfferDetailsResp":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/OfferDetailsResp"}}},"OfferDetailsResp":{"type":"object","properties":{"offerName":{"type":"string"},"offerDescription":{"type":"string"},"offerPrice":{"type":"number"},"offerStartDate":{"type":"string","format":"date"},"offerEndDate":{"type":"string","format":"date"},"products":{"type":"array","items":{"$ref":"#/components/schemas/ProductResp"}}}}},"securitySchemes":{"bearer-key":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}